<div class="container">
	<div class="row">
		<div class="contenedor-padre">
			<h1>PERFIL</h1>
			<div class="contenedor">
				<section class="usuario">
					<label for="">Nombre</label>
					<label for="">Apellido</label>
					
					<input type="text">
					<input type="text">
				
				</section>
				<section class="usuario">
					<label for="">telefono</label>
					<label for="">genero</label>
					<input type="text">
					<input type="text">
				</section>
				<section class="usuario">
					<label for="">estado</label>
					<label for="">email</label>
					<input type="text">
					<input type="text">
				</section>
				<section class="email">

					<label for="" class="text_email">password</label>
					<input type="text">
				</section>
				<div class="boton">
					<button>EDITAR</button>
				</div>
				
			</div>
			</div>

	</div>
</div>

