<app-header></app-header>
<div class="container">
    <h2 class="tittle_carrito">CARRITO DE COMPRAS</h2>
    <div class="row">
        <div class="contenedor_grid col-sm-8" *ngFor="let product of myCart$ | async">
            <div class="contenedor-padre">
                <!--  inicio de cada producto -->
                <div class="producto_carrito">
                    <div class="contenedor-izquierda">
                        <div class="header-izquierda">
                            <img src="https://images.pexels.com/photos/930530/pexels-photo-930530.jpeg?auto=compress&cs=tinysrgb&w=600"
                                alt="" />
                        </div>

                        <div class="body-izquierda">

                            <div class="card">
                                <div class="card-header">
                                    <h2>{{product.title}}</h2>
                                </div>

                                <div class="card-body">
                                    <p>{{product.description}}</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p>${{totalProduct(product.price, product.cantidad)}}</p>
                                <div class="buttons-operators d-flex">
                                    <i class="fa-solid fa-minus text-danger p-2" (click)="updateUnits('minus',product.id)"></i>
                                    <span>{{product.cantidad}}</span>
                                    <i class="fa-solid fa-plus text-success p-2" (click)="updateUnits('plus',product.id)"></i>
                                </div>
                            </div>
                        </div>


                        <div class="footer-izquierda">


                            <button class="noselect" (click)="deleteProduct(product.id)"><span class="text">ELIMINAR</span><span class="icon"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24">
                                        <path
                                            d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                                        </path>
                                    </svg></span></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-derecha col-sm-4">
            <div class="infoProductos">
                <h2>resumen del carrito</h2>
                <p>Total: ${{totalCart()}}</p>
                <p>Cantidad de unidades: {{cantidadUnidades()}}</p>
            </div>
          <div class="entrega">

          </div>
          
            <div class="boton">
                <button class="titulo" routerLink="/productos/comprar" (click)="obtenerProductos()" [disabled]="botonDeshabilitado">COMPRAR</button>
            </div>
        </div>
    </div>
</div>
<h2>{{cantUnits()}}</h2>