<div class="container-fluid">
  <div class="row">
      <h1 class="my-4 text-center">ACERCA DE NOSOTROS</h1>
  <div class="col-sm-6 py-5" style="background-color: darkgray;">
    <div class="h2"><h2 class="bg-body-emphasis w-50 f-2">HISTORIA SOBRE LA TIENDA STILEYSTORE</h2></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, doloremque repellendus numquam consectetur quas error commodi aspernatur minus sapiente eligendi maiores similique quasi quibusdam earum vitae neque sint quo explicabo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto quod voluptatum velit harum eum, totam molestiae laborum sunt inventore nemo odit! Perspiciatis, explicabo ea nisi repudiandae recusandae ullam tempora rerum.</p>
  </div>
  <div class="col-sm-6 py-5" style="background-color: darkgray;">
              <div class="h2"><h2 class="bg-body-emphasis w-50 f-2">METAS Y PROPOSITOS DE STILEY STORE</h2></div>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae doloribus sed quam facilis libero cupiditate velit et perspiciatis. Unde expedita harum, nisi ea quo sed a fugit modi doloribus sequi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate neque optio aliquam ipsa facere, placeat iste nihil hic reiciendis. Nisi voluptate saepe delectus molestiae neque beatae iste illum obcaecati qui.</p>
  </div>
