<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../../../../assets/logoStileyStore.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home"><i
                            class="fa-solid fa-house"></i></a>
                </li>
                <li class="nav-item ">
                    <div id="menu"> 
                        <ul class="menup"> 
                           
                            <li class="dropdown"><a  href="">productos</a> 
                                <ul class="links"> 
                                    <li><span></span><a class="links " routerLink="/productos">mixto</a></li>
                                    <hr> 
                                    <li><span></span><a class="links " routerLink="/productos">mujer</a></li> 
                                    <hr>
                                    <li><span></span><a class="links " routerLink="/productos">hombre</a></li>
                                    <hr>
                               
                                </ul> 
                            </li>
                               
                            </ul>
                           
                        </div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Ofertas">Ofertas</a>
                </li>
               
               
                <li class="nav-item">
                    <a routerLink="/dashboard" class="nav-link" >Administrador</a>
                </li>
            </ul>
            <div class="navbar-cart " (click)="onToggleCart()">
                <div class="navbar-cart-items">
                    <p>{{cantUnits()}}</p>
                </div>
                <i class="fa-solid fa-cart-shopping carrito"></i>
              </div>
            <div class="icons">
                <i [routerLink]="['/login/perfil']" routerLinkActive="router-link-active"
                    class="fa-regular fa-user text-white mx-1"></i>

            </div>
        </div>
    </div>

</nav>
<div class="cart" [ngClass]="{show:viewCart}">
    <app-cart></app-cart>
</div>
