<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../../../../assets/logoStileyStore.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/"><i class="fa-solid fa-house"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/productos">Productos</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Ofertas">Ofertas</a>
                </li>
                
               
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard">Administrador</a>
                </li>
             
            </ul>
            <div class="navbar-cart" (click)="onToggleCart()">
                <div class="navbar-cart-items">
                    <p>{{cantUnits()}}</p>
                </div>
                <i class="fa-solid fa-cart-shopping"></i>
              </div>
            <div class="icons">
                <i class="fa-solid fa-cart-shopping text-white mx-1"></i>
                <i class="fa-regular fa-user text-white mx-1"></i>
               
            </div>
        </div>
    </div>
</nav>
<div class="cart"[ngClass]="{show:viewCart}">
    <app-cart></app-cart>
</div>
