<!-- Seccion3 -->

<div class="container-fluid mt-4">
  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-6">
          <div class="position-relative hoverCamisas">
              <h5 class="text-center">Niño</h5>
            <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTeSlm9vSyzzr2R3jq-Rp3og2PgquLsAn9fLhLA-Wy54txxK5Ut_A7RbrQNKgVJ6vfi6o14oueZP3OSbKHuQM60G5OUAdp_wGU&usqp=CAc" class="img" alt="">
            <div class="infoCamisas p-3">
              <h2 class="titulo fs-4">-25% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="position-relative hoverSudaderas">
              <h5 class="text-center">Niña</h5>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNDjUmyN6neBCMK0DA_nirH9iyWGnLiZ-fyQ&usqp=CAU" class="img" alt="">
            <div class="infoSudaderas p-3">
              <h2 class="titulo fs-4">-20% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-6">
          <div class="position-relative hoverBlusas">
              <h5 class="text-center">Mujer</h5>
            <img src="https://tupijama.com/11698-large_default/pijama-mujer-tiras-short-largo-estilo-confort-marfil.jpg" class="img" alt="">
            <div class="infoBlusas p-3">
              <h2 class="titulo fs-4">-15% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="position-relative hoverRInterior">
              <h5 class="text-center">Ropa interior</h5>
            <img src="https://pbs.twimg.com/media/FK2buFAWYAMqWJj.jpg:large" class="img" alt="">
            <div class="infoRInterior p-3">
              <h2 class="titulo fs-4">-10% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-4">
  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-6">
          <div class="position-relative hoverCamisas">
              <h5 class="text-center"></h5>
            <img src="https://micco.vtexassets.com/arquivos/ids/181860-800-auto?v=637733833498000000&width=800&height=auto&aspect=true" class="img" alt="">
            <div class="infoCamisas p-3">
              <h2 class="titulo fs-4">-25% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="position-relative hoverSudaderas">
              <h5 class="text-center"></h5>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_TpOpHWtn9wIjeP24p4ESEJAtYu9UlSW08izN3sU6A8O3b_26rD_bxL-kI4tdxRcWkyU&usqp=CAU" class="img" alt="">
            <div class="infoSudaderas p-3">
              <h2 class="titulo fs-4">-20% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-6">
          <div class="position-relative hoverBlusas">
              <h5 class="text-center"></h5>
            <img src="https://falabella.scene7.com/is/image/FalabellaCO/31714407_1?wid=800&hei=800&qlt=70" class="img" alt="">
            <div class="infoBlusas p-3">
              <h2 class="titulo fs-4">-10% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="position-relative hoverRInterior">
              <h5 class="text-center"></h5>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQax8OSECI-3_IeM2xhKUQlN1AuY_ULtV2-c_Te8WWZT9WJV__obX2jJ4qXn8nW81gOAD4&usqp=CAU" class="img" alt="">
            <div class="infoRInterior p-3">
              <h2 class="titulo fs-4">-20% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


<button type="button" class="btn btn-primary text-center w-100">MOSTRAR MAS</button>
