
<div class="contenedor-padre">
    <section class="usuario">
        <div class="form-floating mb-3 descripcion_usuario ">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Nombre</label>
          </div>
          <div class="form-floating mb-3 descripcion_usuario">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Apellido</label>
          </div>
        </section>
          <section class="ubicacion">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Direccion</label>
              </div> 
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">fecha de entrega</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Numero de cuenta</label>
              </div>
          </section>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">CVC</label>
            

          </div>
          <button>FINALIZAR PAGO</button>
          
        
    
  </div>