<div class="contenedor-padre">
 
    <label for="" class="titulo">RESUMEN DE TU PEDIDO</label>
    <div class="contenedor_grid">
    <div class="izquierda">
      <label for="" class="derecha_subtotal descripcion">Subtotal (3)       <label for="" class="izquierda_subtotal">$9.145.700</label></label>
      <label for="" class="derecha_envio descripcion">envio  <label for="" class="envio">Envío gratis</label></label>
      <label for="" class="pagos descripcion" >pagos <label for="" class="pagos_derecha">$254.047</label></label>

    

     
      
    </div>
  </div>
  
  
  
  <div class="entrega">
    <label for="" class="total">total</label> <label for="">$9.145.700</label>
  </div>
  
    <div class="boton">
      <a routerLink="comprar"> <button class="titulo" >COMPRAR</button></a>
     
    </div>



</div>
