<div class="container">
	<div class="row">
		<div class="contenedor-padre">
			<h1>DIRECCIONES</h1>
			<div class="contenedor">
				<section class="usuario">
					<label for="">numero</label>
					<label for="">comuna</label>
					
					<input type="text">
					<input type="text">
					<label for="">ciudad </label>
					<label for="">calle</label>
					<input type="text">
					<input type="text">
				</section>
				
				
				<div class="boton">
					
<button>agregar nueva direccion</button>
				</div>
				
			</div>
			</div>

	</div>
</div>

