<!-- Seccion1 -->

<h2 class="tituloP2 text-lg-center ">Productos en Oferta</h2>

<div class="container-fluid mt-4">
  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-6">
          <div class="position-relative hoverCamisas">
              <h5 class="text-center">Niño</h5>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7UsQAKkmRUk5LiSYUJ0vtcTG8OT8slePWHA&usqp=CAU" class="img" alt="">
            <div class="infoCamisas p-3">
              <h2 class="titulo fs-4">-25% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="position-relative hoverSudaderas">
              <h5 class="text-center">Niña</h5>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaFbqluy35qQrAtwxFvBXUsi4OEHkmk6lBqw&usqp=CAU" class="img" alt="">
            <div class="infoSudaderas p-3">
              <h2 class="titulo fs-4">-20% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-6">
          <div class="position-relative hoverBlusas">
              <h5 class="text-center">Mujer</h5>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYP-BkivXpLKE8UEi02HevO-uBRLjg9JKJ5wRthbYamPbTkGiv7ORObiNRkETaiEwXgJg&usqp=CAU" class="img" alt="">
            <div class="infoBlusas p-3">
              <h2 class="titulo fs-4">-15% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="position-relative hoverRInterior">
              <h5 class="text-center">Ropa interior</h5>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp2gP05RiUco02vgJmQnrUdcCCLxH3SxsuBA&usqp=CAU" class="img" alt="">
            <div class="infoRInterior p-3">
              <h2 class="titulo fs-4">-10% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-6">
          <div class="position-relative hoverCamisas">
              <h5 class="text-center"></h5>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw6on3ogKlKzdU_3L7B1A30LHsUc_J66uSHhGXFwXgTyQWEC4qL3rR9qjX4Oi8qQpILS0&usqp=CAU" class="img" alt="">
            <div class="infoCamisas p-3">
              <h2 class="titulo fs-4">-25% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="position-relative hoverSudaderas">
              <h5 class="text-center"></h5>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtPD2JU_zIA4PfgK4WCVyMDIji0oKRDhxi9g&usqp=CAU" class="img" alt="">
            <div class="infoSudaderas p-3">
              <h2 class="titulo fs-4">-20% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-6">
          <div class="position-relative hoverBlusas">
              <h5 class="text-center"></h5>
            <img src="https://irreal.vtexassets.com/arquivos/ids/208909-800-auto?v=638043952331400000&width=800&height=auto&aspect=true" class="img" alt="">
            <div class="infoBlusas p-3">
              <h2 class="titulo fs-4">-10% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="position-relative hoverRInterior">
              <h5 class="text-center"></h5>
            <img src="https://http2.mlstatic.com/D_NQ_NP_982619-CBT53136562843_012023-O.jpg" class="img" alt="">
            <div class="infoRInterior p-3">
              <h2 class="titulo fs-4">-20% DESCUENTO</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
