<div class="padr">
<app-header></app-header>

<h1 class="text-center">DASHBOARD </h1>
<div class="row">
  
    <div class="col-sm-4 mt-5 mb-1" >
      <button routerLink="/dashboard/usuarios">
        Usuarios
      </button>
    </div>
 
    <div class="col-sm-4 mt-5 mb-1 " >
      <button routerLink="/dashboard/productos">
        Productos
      </button>
    </div>
 
    <div class="col-sm-7 mt-5 mb-1 " >
      <button routerLink="/dashboard/pedidos">
        pedidos
      </button>
    </div>
    <div class="col-sm-4 mt-5 mb-1 " >
      <button routerLink="/dashboard/ventas"  >
        ventas
      </button>
    </div>
    <div class="col-sm-4 mt-5 mb-1 " >
      <button routerLink="/dashboard/calificaciones"  >
        calificaciones
      </button>
    </div>
    <div class="col-sm-4 mt-5 mb-1 " >
      <button routerLink="/dashboard/reclamos"  >
        Quejas y reclamos
      </button>
    </div>
  </div>
  
  <app-footer></app-footer>

</div>