<body >
<div class="container mt-5 body">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="card" style=" background: #485563; background: -webkit-linear-gradient(to right, #485563, #29323c); background: linear-gradient(to right, #485563, #29323c);">
                <div class="card-header">
                    <h3 class="text-center" style="color: #fff;">
                        Registro de Usuarios</h3>
                </div>
                <div class="card-body" style="color: #fff;">
                    <form action="" id="frmRegistro" name="frmRegistro">
                        <div class="form mb-3">
                            <input type="text" class="form-control" id="firstName" placeholder="Ingrese su nombre" name="firstName">
                            
                        </div>
                        <div class="form mb-3">
                            <input type="text" class="form-control" id="lastName" placeholder="Ingrese su apellidos" name="lastName">
                            
                        </div>
                        <div class="form mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Ingrese un E-mail" name="email">
                        </div>
                        <div class="form mb-3">
                            <input type="text" class="form-control" id="phone" placeholder="Ingrese un telefono celular" name="phone">
                            
                        </div>
                        <div class="form mb-3">
                            <input type="password" class="form-control" id="password" placeholder="Digite una contraseña" name="password">
                        </div>
                        <div class="form mb-3">
                            <input type="password" class="form-control" id="password" placeholder="Connfirme su contraseña" name="password">
                        </div>
                        <div class="mb-6 text-sm-center">
                            <button type="submit" class="btn btn-primary" routerLink="/login">Registrarme</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>