
<div class="container-sm contenedor">
  <div class="row">
    <h4>CONTACTENOS</h4>
    <div class="col-12 mb-3">
      <input type="email" class="form-control barra1" placeholder="Correo Electronico">
    </div>
    <div class="col-12 mb-3">
      <input type="email" class="form-control barra2 " placeholder="Descripcion" >
    </div>
    <div class="botones">
      <button type="button" class="btn btn-success w-50
        ">ENVIAR</button>
    <button type="button" class="btn btn-danger w-50 ">ELIMINAR</button>
    </div>
  </div>
</div>
